<header id="fh5co-header" role="banner">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header"> 
				<!-- Mobile Toggle Menu Button -->
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
				<a class="navbar-brand" href="index.html">RADHA KRISHNA ENGINEERING CONSULTANCY</a>
				</div>
				<div id="fh5co-navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="index.html"><span>Home <span class="border"></span></span></a></li>
						<li><a href="#fh5co-features"><span>About <span class="border"></span></span></a></li>
						<li><a href="#fh5co-products"><span>Services <span class="border"></span></span></a></li>
						<li><a href="#fh5co-clients"><span>Clients <span class="border"></span></span></a></li>
						<li><a href="#fh5co-footer"><span>Contact <span class="border"></span></span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- END .header -->

		<div class="fh5co-slider">
		<div class="owl-carousel owl-carousel-fullwidth">
		    <div class="item" style="background-image:url(<%= asset_path 'slide_1.jpg' %>)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Radha Krishna Slide One</h1>
									<h2 class="fh5co-sub-lead">Any random text that suites for the website and will be placed according to the terms of client needs which is fullfilled by <a href="#">Radha Krishna</a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
       <div class="item" style="background-image:url(<%= asset_path 'slide_2.jpg' %>)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Radha Krishna Slide Two</h1>
									<h2 class="fh5co-sub-lead">Any random text that suites for the website and will be placed according to the terms of client needs which is fullfilled by <a href="#">Radha Krishna</a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		<div class="item" style="background-image:url(<%= asset_path 'slide_3.jpg' %>)">		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Radha Krishna Slide Three</h1>
									<h2 class="fh5co-sub-lead">Any random text that suites for the website and will be placed according to the terms of client needs which is fullfilled by <a href="#">Radha Krishna</a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		   <div class="item" style="background-image:url(<%= asset_path 'slide_4.jpg' %>)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Radha Krishna Slide Four</h1>
									<h2 class="fh5co-sub-lead">Any random text that suites for the website and will be placed according to the terms of client needs which is fullfilled by <a href="#">Radha Krishna</a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>	
	<div id="fh5co-main">
		<!-- Features -->
				<div id="fh5co-features">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="fh5co-section-lead">About Us</h2>
						<h3 class="fh5co-section-sub-lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</h3>
					</div>
					<div class="fh5co-spacer fh5co-spacer-md"></div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 fh5co-feature-border">
						<div class="fh5co-feature">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-circle-check"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>Impact One</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
						<div class="fh5co-feature no-border">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-circle-check"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>Impact Two</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="fh5co-feature">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-circle-check"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>Impact Three</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
						<div class="fh5co-feature no-border">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-circle-check"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>Impact Four</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Features -->


		<div id="services" class="fh5co-spacer fh5co-spacer-lg"></div>		
		<!-- Products -->
		<div class="container" id="fh5co-products">
			<div class="row text-center">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="fh5co-section-lead">Services</h2>
					<h3 class="fh5co-section-sub-lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</h3>
				</div>
				<div class="fh5co-spacer fh5co-spacer-md"></div>
			</div>
			<div id="inline-popups" class="row">
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
					<div class="fh5co-product">
					<%= image_tag("img_small_1.jpg", class: "img-responsive img-rounded to-animate") %>
						
						<h4>Lorem ipsum</h4>
						<p style="text-align: justify;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#service1" data-effect="mfp-zoom-in">Read more</a></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
					<div class="fh5co-product">
						<%= image_tag("img_small_2.jpg",class: "img-responsive img-rounded to-animate") %>
						<h4>Architecto nihil</h4>
						<p style="text-align: justify;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#service2" data-effect="mfp-zoom-in">Read more</a></p>
					</div>
				</div>
				<div class="visible-sm-block visible-xs-block clearfix"></div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
					<div class="fh5co-product">
						<%= image_tag("slide_3.jpg",class: "img-responsive img-rounded to-animate") %>
						<h4>Animi earum</h4>
						<p style="text-align: justify;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#">Read more</a></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
					<div class="fh5co-product">
						<%= image_tag("img_small_2.jpg",class: "img-responsive img-rounded to-animate") %>
						<h4>Recusandae iste</h4>
						<p style="text-align: justify;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						<p><a href="#">Read more</a></p>
					</div>
				</div>
				
			</div>
		</div>
		<!-- Products -->
		<div class="fh5co-spacer fh5co-spacer-lg"></div>

		<div id="fh5co-clients">
			<div class="container">
<!--			<h2 class="fh5co-footer-logo " style="text-align: center; font-size: 20px; color: black;"><span style="border-bottom: 2px solid white">Our Clients<span class="border"></span></span></h2>-->
				<div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-client-logo text-center to-animate"><h2 class="img-responsive" style="color: white;">
                        Client One
                    </h2></div>
                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-client-logo text-center to-animate"><h2 class="img-responsive"
                    style="color: white;">
                        Client Two
                    </h2></div>
                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-client-logo text-center to-animate"><h2 class="img-responsive"
                    style="color: white;">
                        Client Three
                    </h2></div>
                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-client-logo text-center to-animate"><h2 class="img-responsive"
                    style="color: white;">
                        Client Four
                    </h2></div>
				</div>
			</div>
		</div>

		<div class="fh5co-bg-section" style="background-image: url(images/slide_2.jpg); background-attachment: fixed;">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="fh5co-hero-wrap">
							<div class="fh5co-hero-intro text-center">
								<h1 class="fh5co-lead"><span class="quo">&ldquo;</span>Design is not just what it looks like and feels like. Design is how it works. <span class="quo">&rdquo;</span></h1>
								<p class="author">&mdash; <cite>client saying</cite></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer id="fh5co-footer">
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="fh5co-footer-widget">
						<h2 class="fh5co-footer-logo" style="font-size: 25px; padding-bottom: 20px;">RADHA KRISHNA</h2>
<!--						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>-->
						<ul class="fot">
						    <li><i class="icon-location-pin"></i><p>Siddharthanagar-8, Bhairahawa <br>
Barmeli Tole <br>
Ravi Path</p></li>
						    <li><i class="icon-bell"></i><p>977-9857015575</p></li>
						    <li><i class="icon-mail"></i><p>rkec2072@gmail.com</p></li>
						</ul>
					</div>
					<div class="fh5co-footer-widget">
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-youtube"></i></a></li>
						</ul>
					</div>
				</div>

				
				<div class="visible-sm-block clearfix"></div>

				<div class="col-md-6 col-sm-6">
                    <div>
				    <h2 class="fh5co-footer-logo" style="text-align: center; font-size: 25px; padding-bottom: 20px;">Contact Us</h2>
                    </div>
                    <div>
                        <form action="#" method="post">
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="sr-only">Email</label>
									<input placeholder="Name" id="name" type="text" class="form-control input-lg">
								</div>	
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="email" class="sr-only">Email</label>
									<input placeholder="Email" id="email" type="text" class="form-control input-lg">
								</div>	
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="message" class="sr-only">Message</label>
									<textarea placeholder="Message" id="message" class="form-control input-lg" rows="3"></textarea>
								</div>	
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="submit" class="btn btn-primary " value="Send">
								</div>	
							</div>
						</form>	
                    </div>
                </div>
			</div>

			<div class="row fh5co-row-padded fh5co-copyright">
				<div style="text-align: center;">
					<p><small>&copy; Radha Krishna Engineering Consultancy. All Rights Reserved | Design by <a href="http://www.acxelense.com/" target="_blank">Acxelense Techonolgies Pvt. Ltd.</a></small></p>
				</div>
			</div>
		</div>

	</footer>
	<%= javascript_include_tag 'jquery.easing.1.3', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'jquery.waypoints.min', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'jquery.magnific-popup.min', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>


	<script type="text/javascript">
        $(document).ready(function() {
                        // Inline popups
            $('#inline-popups').magnificPopup({
              delegate: 'a',
              removalDelay: 500, //delay removal by X to allow out-animation
              callbacks: {
                beforeOpen: function() {
                   this.st.mainClass = this.st.el.attr('data-effect');
                }
              },
              midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
            });

        });
    </script>

	
	</body>
</html>


	